{
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "semi": true,
  "importOrder": ["^(.*)configs(.*)$", "^@core/(.*)$", "^@server/(.*)$", "^@ui/(.*)$", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
